# THIS FILE IS MANAGED BY THE SNAP - CHANGES WILL BE OVERWRITTEN
# Use $SNAP_COMMON/etc/nova/nova.conf.d for deployment specific
# configuration
[DEFAULT]
# Always libvirt
compute_driver = libvirt.LibvirtDriver

# Set state path to writable directory
state_path = {{ snap_data }}/lib/nova

# Log to systemd journal
use_journal = True

# Set a hostname to be an FQDN to avoid issues with port binding for
# which a hostname of a Nova node must match a hostname of an OVN chassis.
host = {{ node.fqdn }}
my_ip = {{ node.ip_address }}

log_file = {{ snap_common }}/log/nova/nova-compute.log
debug = {{ logging.debug }}

# AMQP connection to RabbitMQ
transport_url = {{ rabbitmq.url }}

[workarounds]
disable_rootwrap = True

[libvirt]
virt_type = {{ compute.virt_type }}
cpu_mode = {{ compute.cpu_mode }}
{% if compute.cpu_mode == 'custom' %}
cpu_models = {{ compute.cpu_models }}
{% endif %}


[oslo_concurrency]
# Oslo Concurrency lock path
lock_path = {{ snap_common }}/lock

[os_vif_ovs]
# Nova relies on os-vif for openvswitch interface plugging and needs a connection to
# OVSDB. This is done via a TCP connection to localhost by default so we override this to
# use a unix socket instead.
# See os-vif/releasenotes/notes/add-ovsdb-native-322fffb49c91503d.yaml
ovsdb_connection = unix:{{ snap_common }}/run/openvswitch/db.sock

[cinder]
service_type = volume
service_name = cinder
region_name = {{ identity.region_name }}

[spice]
enabled = True
agent_enabled = True
html5proxy_base_url = http://{{ compute.spice_proxy_address }}:6082/spice_auto.html
server_listen = {{ node.ip_address }}
server_proxyclient_address = {{ node.ip_address }}
keymap = en-us

[glance]
service_type = image
service_name = glance
region_name = {{ identity.region_name }}

[keystone_authtoken]
auth_url = {{ identity.auth_url }}
auth_type = password
project_domain_name = {{ identity.project_domain_name }}
user_domain_name = {{ identity.user_domain_name }}
project_name = {{ identity.project_name }}
username = {{ identity.username }}
password = {{ identity.password }}

[paste_deploy]
flavor = keystone

[neutron]
url = {{ network.url }}
auth_url = {{ identity.auth_url }}
auth_type = password
project_domain_name = {{ identity.project_domain_name }}
user_domain_name = {{ identity.user_domain_name }}
region_name = {{ identity.region_name }}
project_name = {{ identity.project_name }}
username = {{ identity.username }}
password = {{ identity.password }}
service_metadata_proxy = True
metadata_proxy_shared_secret = {{ network.ovn_metadata_proxy_shared_secret }}

[placement]
auth_url = {{ identity.auth_url }}
auth_type = password
project_domain_name = {{ identity.project_domain_name }}
user_domain_name = {{ identity.user_domain_name }}
region_name = {{ identity.region_name }}
project_name = {{ identity.project_name }}
username = {{ identity.username }}
password = {{ identity.password }}
