filebeat:
  prospectors:
    - paths:
        - /var/log/syslog
        - /var/log/*/*.log
        - {{ snap_common }}/log
        - {{ snap_common }}/log/mysql
        - {{ snap_common }}/log/openvswitch
        - {{ snap_common }}/log/rabbitmq

      input_type: log
      exclude_files: ["/filebeat.*", ".*gz$"]
      exclude_lines: []
      scan_frequency: 10s
      harvester_buffer_size: 16384
      max_bytes: 10485760

  registry_file: filebeat/registry

logging:
  to_syslog: true
  to_files: false
  level: info
  metrics.enabled: false
  files:
    path: {{ snap_common }}/log
    name: filebeat
    keepfiles: 7
    permissions: 0644

output:

  logstash:
    hosts: {{ ( logging_host.split(';') if logging_host else [] ) | tojson }}

    worker: 1
    compression_level: 3
    loadbalance: true

{% if logging_tag %}
# if name is empty, hostname will be used
name: {{logging_tag}}
{% endif %}
