{
    "openstack": {
        "admin": {
            "password": "{{ keystone_password }}",
            "project_domain_name": "default",
            "project_name": "admin",
            "user_domain_name": "default",
            "username": "admin"
        },
        "api_info": {
            "keystone": {
                "service_type": "identityv3",
                "version": 3
            }
        },
        "auth_url": "https://{{ control_ip }}:5000/v3",
        "endpoint_type": null,
{% if tls_generate_self_signed|lower == "false" %}
        "https_cacert": "{{ tls_cacert_path }}",
        "https_cert": "{{ tls_cert_path }}",
        "https_key": "{{ tls_key_path }}",
        "https_insecure": false,
{% else %}
        "https_cacert": "",
        "https_cert": "",
        "https_key": "",
        "https_insecure": true,
{% endif %}
        "profiler_conn_str": null,
        "profiler_hmac_key": null,
        "region_name": ""
    }
}
