[DEFAULT]
notify_nova_on_port_status_changes = True
notify_nova_on_port_data_changes = True

[nova]
auth_url = https://{{ control_ip }}:5000/v3
auth_type = password
project_domain_name = default
user_domain_name = default
region_name = {{ region_name }}
project_name = service
username = nova
password = {{ nova_password }}
cafile = {{ tls_cacert_path }}
