[neutron]
url = https://{{ control_ip }}:9696
auth_url = https://{{ control_ip }}:5000/v3
memcached_servers = {{ compute_ip }}:11211
auth_type = password
project_domain_name = default
user_domain_name = default
region_name = {{ region_name }}
project_name = service
username = neutron
password = {{ neutron_password }}
service_metadata_proxy = True
metadata_proxy_shared_secret = {{ ovn_metadata_proxy_shared_secret }}
cafile = {{ tls_cacert_path }}
